<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />


    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Base.Theme.AutoForm"
        tools:targetApi="31">
        <service
            android:name=".user.notifications.NotificationService"
            android:exported="true"
            android:enabled="true" />

        <activity
            android:name=".admin.forms.changeFormDetails.ChangeFormDetailsActivity"
            android:exported="false" />
        <activity
            android:name=".admin.users.changeUserData.ChangeUploadFormUserDataActivity"
            android:exported="false" />
        <activity
            android:name=".admin.users.changeUserData.ChangeUserDataActivity"
            android:exported="false" />
        <activity
            android:name=".uploadForm.UploadFormMainActivity"
            android:exported="false" />
        <activity
            android:name=".user.UserMainActivity"
            android:exported="false" />
        <activity
            android:name=".admin.AdminMainActivity"
            android:exported="false" />
        <activity
            android:name=".otpCode.TempActivity"
            android:exported="false" />
        <activity
            android:name=".otpCode.OtpVerifyActivity"
            android:exported="false" />
        <activity
            android:name=".user.userSubscriptionFragment.SubscriptionActivity"
            android:exported="false" />
        <activity
            android:name=".user.userFormFragment.RecommendationSeeAllActivity"
            android:exported="false" />
        <activity
            android:name=".admin.AdminFirstScreenActivity"
            android:exported="false" />
        <activity
            android:name=".authentication.uploadForm.UploadFormSignUpDetailsActivity"
            android:exported="false" />
        <activity
            android:name=".uploadForm.pastFormsFragment.viewRegisteredStudents.ViewRegisteredActivity"
            android:exported="false" />
        <activity
            android:name=".uploadForm.pastFormsFragment.viewForm.ViewFormsActivity"
            android:exported="false" />
        <activity
            android:name=".otpCode.otpTemporary.PhoneActivity"
            android:exported="false" />
        <activity
            android:name=".otpCode.otpTemporary.OtpActivity"
            android:exported="false" />
        <activity
            android:name=".FirstScreenActivity"
            android:exported="false" />
        <activity
            android:name=".splashScreenAndIntroScreen.IntroActivity"
            android:theme="@style/Theme.Intro" />
        <activity
            android:name=".user.userFormFragment.searchForms.SearchActivity"
            android:exported="false" />
        <activity
            android:name=".uploadForm.temporaryFiles.ChooseFormActivity"
            android:exported="false" />
        <activity
            android:name=".user.userFormFragment.examApply.AdditionalDetailsRequiredActivity"
            android:exported="false" />
        <activity
            android:name=".uploadForm.temporaryFiles.FillApplicationFormDetailsActivity"
            android:exported="false" />
        <activity
            android:name=".uploadForm.temporaryFiles.ViewUploadedFormsActivity"
            android:exported="false" />
        <activity
            android:name=".uploadForm.temporaryFiles.FormDetailsActivity"
            android:exported="false" />
        <activity
            android:name=".authentication.uploadForm.UploadFormSignUpActivity"
            android:exported="false" />
        <activity
            android:name=".authentication.uploadForm.UploadFormLoginActivity"
            android:exported="false" /> <!-- <activity -->
        <!-- android:name=".authentication.admin.AdminSignUpActivity" -->
        <!-- android:exported="false" /> -->
        <!-- <activity -->
        <!-- android:name=".authentication.admin.AdminLoginActivity" -->
        <!-- android:exported="false" /> -->
        <activity
            android:name=".authentication.user.UserSignUpActivity"
            android:exported="false" />
        <activity
            android:name=".authentication.user.UserLoginActivity"
            android:exported="false" /> <!-- <activity -->
        <!-- android:name=".AppliedFormsActivity" -->
        <!-- android:exported="false" /> -->
        <activity
            android:name=".user.userFormFragment.examApply.ReviewDataActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".user.userFormFragment.examApply.ExamDetailsActivity"
            android:exported="false" />
        <activity
            android:name=".user.userFormFragment.profile.LanguageActivity"
            android:exported="false" />
        <activity
            android:name=".user.temporaryFiles.AwardsAndAchievement"
            android:exported="false" />
        <activity
            android:name=".user.userFormFragment.profile.EducationActivity"
            android:exported="false" />
        <activity
            android:name=".user.userFormFragment.profile.ContactInformation"
            android:exported="false" />
        <activity
            android:name=".user.userFormFragment.profile.UpdateProfileActivity"
            android:exported="false" />
        <activity
            android:name=".user.temporaryFiles.HomeScreenActivity"
            android:exported="false" />
        <activity
            android:name=".user.userFormFragment.profile.ProfileInfoActivity"
            android:exported="false" />
        <activity
            android:name=".user.FieldSelectActivity"
            android:exported="false" />
        <activity
            android:name=".otpCode.MobileNumberActivity"
            android:exported="false" />
        <activity
            android:name=".splashScreenAndIntroScreen.SplashScreenActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity> <!-- <activity -->
        <!-- android:name=".MainActivity" -->
        <!-- android:exported="false" /> -->
        <meta-data
            android:name="com.razorpay.ApiKey"
            android:value="rzp_test_0DG18Nx16j11Ph" />
        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-2095090407853200~7602084072" />
    </application>

</manifest>